{% extends 'base_ati.html' %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'ATI:home' %}">主页</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'ATI:project' %}">项目管理</a>
            </li>
            <li class="active">
                <a class="" href="{% url 'ATI:plans' %}?projectId={{ project_id }}">测试计划</a>
            </li>
            <li class="active">
                <a class="" href="{% url 'ATI:variables' %}?Id={{ plan_id }}&projectId={{ project_id }}">设置变量</a>
            </li>
        </ol>

    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <a href="{% url 'ATI:add_variable' %}?Id={{ plan_id }}&projectId={{ project_id }}" class="btn btn-primary">新增全局变量</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="10%">变量名</th>
                        <th width="20%">变量值</th>
                        <th width="25%">描述</th>
                        <th width="15%">创建时间</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for variable in global_list %}
                    <tr>
                        <td>{{ variable.name }}</td>
                        <td>{{ variable.value }}</td>
                        <td>{{ variable.description }}</td>
                        <td>{{ variable.create_time|date:'Y-m-d H:i:s' }}</td>
                        <td>
                            <a href="{% url 'ATI:edit_variable' %}?name={{ variable.name }}&planId={{ variable.plan_id }}&projectId={{ project_id }}" class="layui-btn layui-btn-xs">编辑</a>
                            <a href="#" onclick="openResult('{% url 'ATI:delete_variable' %}?name={{ variable.name }}&planId={{ variable.plan_id }}&projectId={{ project_id }}')" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block fenye %}
    {% if global_list %}
        <div class="fenye"><ul id="paging" class="pagination"></ul></div>

        <script type="text/javascript">
        $(function () {
            PagingManage($("#paging"), {{ total_num }}, {{ page_num }}, '{% url 'ATI:variables' %}?Id={{ plan_id }}&projectId={{ project_id }}&pageNum=')
        });

        function openResult(del_url){
            let r = confirm("亲，您确定删除全局变量吗？")
            if (r === true) {
                $.ajax({
                    type: 'get',
                    url: del_url,
                    datatype: 'json',
                    success: function (data) {
                        if (data['code'] === 0) {
                            $.Toast(data['msg'], 'success');
                            window.location.href = "{% url 'ATI:variables' %}?Id={{ plan_id }}&projectId={{ project_id }}";
                        } else if (data['code'] === 1)  {
                            $.Toast(data['msg'], 'error');
                        } else {
                            $.Toast(data['msg'], 'warning');
                        }
                    }
                })
            } else {}
        }
        </script>
    {% endif %}
{% endblock %}