{% extends 'base_ati.html' %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'ATI:home' %}">主页</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'ATI:project' %}">项目管理</a>
            </li>
            <li class="active">
                <a class="" href="{% url 'ATI:cases' %}?projectId={{ project_id }}">用例管理</a>
            </li>
            <li class="active">
                <a class="">查看接口</a>
            </li>
        </ol>

    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <a href="{% url 'ATI:add_case_interface' %}?projectId={{ project_id }}&caseId={{ case_id }}" class="btn btn-primary">增加接口</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="20%">接口名称</th>
                        <th width="15%">所属用例</th>
                        <th width="20%">是否执行</th>
                        <th width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in case_interfaces %}
                    <tr>
                        <td>{{ case.interface.name }}</td>
                        <td>{{ case.case.name }}</td>
                        <td>
                             {% if case.is_run > 0 %}
                                <input name="{{ case.id }}" type="radio" value="1" checked onclick="set_is_run('{{ case.id }}', 1)">执行
                                <input name="{{ case.id }}" type="radio" value="0" onclick="set_is_run('{{ case.id }}', 0)">不执行
                            {% else %}
                                <input name="{{ case.id }}" type="radio" value="1" onclick="set_is_run('{{ case.id }}', 1)">执行
                                <input name="{{ case.id }}" type="radio" value="0" checked onclick="set_is_run('{{ case.id }}', 0)">不执行
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" onclick="move_up_down('{{ case.interface_id }}', '{{ case.case_id }}', 1)" class="layui-btn layui-btn-xs" style="margin-right: 10px;">上移</a>
                            <a href="#" onclick="move_up_down('{{ case.interface_id }}', '{{ case.case_id }}', 0)" class="layui-btn layui-btn-xs" style="margin-right: 10px;">下移</a>
                            <a href="{% url 'ATI:edit_interface_from_case' %}?Id={{ case.interface_id }}&projectId={{ project_id }}&caseId={{ case.case_id }}" class="layui-btn layui-btn-xs" style="margin-right: 10px;">编辑</a>
                            <a href="#" onclick="openResult('{% url 'ATI:delete_interface_from_case' %}?Id={{ case.id }}&caseId={{ case.case_id }}&interfaceId={{ case.interface_id }}&projectId={{ project_id }}')" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block fenye %}
    {% if case_interfaces %}
        <div class="fenye"><ul id="paging" class="pagination"></ul></div>

        <script type="text/javascript">
        $(function () {
            PagingManage($("#paging"), {{ total_num }}, {{ page_num }}, '{% url 'ATI:show_case_interface' %}?projectId={{ project_id }}&Id={{ case_id }}&pageNum=')
        });

        function openResult(del_url){
            let r = confirm("亲，您确定从用例中删除接口吗？")
            if (r === true) {
                window.location.href=del_url;
            } else {}
        }

        function set_is_run(interfaceId, isRun){
            let post_data = {
                interfaceId: interfaceId,
                isRun: isRun,
            }
            $.ajax({
                type: 'post',
                url: "{% url 'ATI:set_is_run' %}",
                data: post_data,
                datatype: 'json',
                success: function(data){
                    if(data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                    } else {
                        $.Toast(data['msg'], 'error');
                    }
                }
            })
        }
        
        function move_up_down(interfaceId, caseId, is_up) {
            let post_data = {
                interfaceId: interfaceId,
                caseId: caseId,
                is_up: is_up,
            }
            $.ajax({
                type: 'post',
                url: "{% url 'ATI:move_up_or_down' %}",
                data: post_data,
                datatype: 'json',
                success: function(data){
                    if(data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                        window.location.href="{% url 'ATI:show_case_interface' %}?Id={{ case_id }}&projectId={{ project_id }}"
                    } else {
                        $.Toast(data['msg'], 'error');
                    }
                }
            })
        }
        </script>
    {% endif %}
{% endblock %}