{% extends 'base_ati.html' %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'ATI:home' %}">主页</a>
                </li>
                <li class="active">
                    <a href="{% url 'ATI:project' %}" class="this-page">项目管理</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                   <a href="{% url 'ATI:add_project' %}" class="btn btn-primary">添加项目</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="25%">项目名称</th>
                            <th width="30%">项目描述</th>
                            <th width="20%">创建时间</th>
                            <th width="25%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prj in projects %}
                            <tr>
                                <td>{{ prj.name }}</td>
                                <td>{{ prj.description }}</td>
                                <td>{{ prj.create_time|date:'Y-m-d H:i:s' }}</td>
                                <td>
                                    <a href="{% url 'ATI:manager_project' %}?name={{ prj.name }}" class="layui-btn layui-btn-xs">成员管理</a>
                                    <a href="{% url 'ATI:update_project' %}?name={{ prj.name }}" class="layui-btn layui-btn-xs">编辑项目</a>
                                    <a href="#" onclick="openResult('{% url 'ATI:del_project' %}?name={{ prj.name }}')"
                                       class="layui-btn layui-btn-danger layui-btn-xs">删除项目</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block fenye %}
    {% if projects %}
        <div class="fenye"><ul id="paging" class="pagination"></ul></div>

        <script type="text/javascript">
        $(function () {
            PagingManage($("#paging"), {{ total_num }}, {{ page_num }}, '{% url 'ATI:project' %}?pageNum=')
        });
        function openResult(del_url){
		let r = confirm("亲，您确定删除项目吗？")
		if (r === true) {
		window.location.href=del_url;
		} else {
		}
	}
        </script>
    {% endif %}
{% endblock %}