{% extends 'base_ati.html' %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'ATI:home' %}">主页</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'ATI:project' %}">项目管理</a>
            </li>
            <li class="active">
                <a class="" href="{% url 'ATI:scenes' %}?projectId={{ project_id }}">测试场景管理</a>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">新增测试场景</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">测试场景名称</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" placeholder="测试场景名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">测试场景描述</label>
                        <div class="col-sm-6">
                            <textarea id="description" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button id="Save" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#Save").click(function () {
        let name = document.getElementById('name').value;
        let desc = document.getElementById('description').value;
        let postdata = {
            name: name,
            description: desc,
            project_id: "{{ project_id }}",
        };
        $.ajax({
            type: 'post',
            url: "{% url 'ATI:add_scene' %}",
            data: postdata,
            datatype: 'json',
            success: function (data) {
                if(data['code'] === 1) {
                    $.Toast(data['msg'], 'warning');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="{% url 'ATI:scenes' %}?projectId={{ project_id }}";
                }
            },
        });
    });
</script>
{% endblock%}