<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口自动化测试</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div class="header" id="head">
  <div class="title">自动化测试平台</div>
</div>
<div class="wrap" id="wrap">
	<div class="logGet">
        <!-- 头部提示信息 -->
        <div class="logD logDtip">
            <p class="p1" id="login_t">登 录</p>
        </div>
        <!-- 输入框 -->
        <div class="lgD">
            <img src="../static/img/login_user.png" width="20" height="20" alt=""/>
            <input type="text"
                placeholder="输入用户名" />
        </div>
        <div class="lgD">
            <img src="../static/img/login_lock.png" width="20" height="20" alt=""/>
            <input type="text"
                placeholder="输入用户密码" />
        </div>
        <div class="logC">
            <a href="/login"><button id="login_b">登 录</button></a>
        </div>
        <div class="logT" style="font-size: 14px;">
            <a href="javascript:void(0);" onclick="zhuce()" id="register">注册用户</a>
            <a href="javascript:void(0);" id="forget">忘记密码</a>
        </div>
    </div>
</div>

<div class="footer" id="foot">
  <div class="copyright">
    <p>Copyright © 2020 leeyoshinari. All Rights Reserved.</p>
  </div>
</div>
<script type="text/javascript">
    function zhuce() {
        reg = document.getElementById('register');
        reg.innerText = '登录已有用户';
        reg.setAttribute('onclick', 'denglu()');
        login1 = document.getElementById('login_t');
        login1.innerText = '注 册';
        login1 = document.getElementById('login_b');
        login1.innerText = '注 册';
        login1.setAttribute('href', '/login/');
    }
    function denglu() {
        reg = document.getElementById('register');
        reg.innerText = '注册用户';
        reg.setAttribute('onclick', 'zhuce()');
        login1 = document.getElementById('login_t');
        login1.innerText = '登 录';
        login1 = document.getElementById('login_b');
        login1.innerText = '登 录';
        login1.setAttribute('href', 'login.html');
    }
</script>
</body>
</html>
