{% extends 'base_ati.html' %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'ATI:home' %}">主页</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'ATI:project' %}">项目管理</a>
            </li>
            <li class="active">
                <a class="" href="{% url 'ATI:interface' %}?projectId={{ project_id }}">接口管理</a>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading" style="padding-bottom: 0px;">
                <h3 class="panel-title">新增接口</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口ID</label>
                        <div class="col-sm-6">
                            <input type="text" id="interface_id" placeholder="接口ID" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口名称</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" placeholder="接口名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口URL</label>
                        <div class="col-sm-6">
                            <input type="text" id="interface" placeholder="接口URL" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="display:none;">接口协议</label>
                        <div class="col-sm-6" style="width: 150px; display: none">
                            <select id="protocol" class="form-control" style="width: 120px;">
                                <option value="http" selected="selected">http</option>
                                <option value="https">https</option>
                            </select>
                        </div>
                        <!--<label class="col-sm-2 control-label" style="width: 9%">请求方法</label>-->
                        <label class="col-sm-2 control-label">请求方法</label>
                        <div class="col-sm-6" style="width: 20%;">
                            <select id="method" class="form-control" style="width: 100%;">
                                <option value="get" selected="selected">get</option>
                                <option value="post">post</option>
                                <option value="put">put</option>
                                <option value="delete">delete</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="width: 20%">超时时间</label>
                        <div class="col-sm-6" style="width: 20%;">
                            <input type="text" id="timeout" placeholder="单位: ms" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请求头</label>
                        <div class="col-sm-6">
                            <input type="text" id="header" placeholder="请求头" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请求参数</label>
                        <div class="col-sm-6">
                            <textarea id="parameter" placeholder="请求参数" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">前置处理器</label>
                        <div class="col-sm-6">
                            <textarea id="pre_process" placeholder="python语法，示例：（两个“${}”中的字母是变量，多个变量用英文逗号隔开）
#${}${b}     # 第一个“${}”中的字母是输入变量名，没有字母表示为空，第二个“${}”中的b是输出变量名
b=1       # 直接将1赋值给b，同时b输出，通过“${b}”即可引用b的值
c=2       # 直接将2赋值给c，因为第二个“${}”中没有c，所以c不输出，不能引用c的值" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">后置处理器</label>
                        <div class="col-sm-6">
                            <textarea id="post_process" placeholder="python语法，示例：（后置处理器默认传入当前接口响应值，变量名为response，格式为字符串）
#${a}${b,c}     # 第一个“${}”中的a是输入变量名，第二个“${}”中的b,c是输出变量名
b=a+1       # 将a的值+1，并赋值给b，同时b输出，通过“${b}”即可引用b的值
c=int(response)+1       # 将接口响应值+1，并赋值给c，同时c输出，通过“${c}”即可引用c的值" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width: 15%;">断言</label>
                        <label class="col-sm-2 control-label" style="width: 6%;">实际结果</label>
                        <div class="col-sm-6" style="width: 21%; padding-left: 0px;">
                            <input type="text" id="true_result" placeholder="实际结果，如果为空，则默认为接口响应值" class="form-control" style="width: 100%">
                        </div>
                        <label class="col-sm-2 control-label" style="width: 9%; display: none;">断言方法</label>
                        <div class="col-sm-6" style="width: 8%; padding-left: 0px;">
                            <select id="assert_method" class="form-control" style="width: 100%;">
                                <option value="contain" selected="selected">包含</option>
                                <option value="equal">等于</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="width: 6%;">预期结果</label>
                        <div class="col-sm-6" style="width: 21%; padding-left: 0px;">
                            <textarea id="expect_result" placeholder="预期结果" class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口描述</label>
                        <div class="col-sm-6">
                            <textarea id="description" placeholder="接口描述" class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button id="Save" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#Save").click(function () {
        let interface_id = document.getElementById('interface_id').value;
        let name = document.getElementById('name').value;
        let interface1 = document.getElementById('interface').value;
        let protocol = document.getElementById('protocol').value;
        let method = document.getElementById('method').value;
        let timeout = document.getElementById('timeout').value;
        let header = document.getElementById('header').value;
        let parameter = document.getElementById('parameter').value;
        let pre_process = document.getElementById('pre_process').value;
        let post_process = document.getElementById('post_process').value;
        let expect_result = document.getElementById('expect_result').value;
        let true_result = document.getElementById('true_result').value;
        let assert_method = document.getElementById('assert_method').value;
        let description = document.getElementById('description').value;
        let postdata = {
            name: name,
            interface_id: interface_id,
            project_id: {{ project_id }},
            interface: interface1,
            protocol: protocol,
            method: method,
            timeout: timeout,
            header: header,
            parameter: parameter,
            pre_process: pre_process,
            post_process: post_process,
            expect_result: expect_result,
            true_result: true_result,
            assert_method: assert_method,
            description: description,
        };
        $.ajax({
            type: 'post',
            url: "{% url 'ATI:add_interface' %}",
            data: postdata,
            datatype: 'json',
            success: function (data) {
                if(data['code'] === 1) {
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="{% url 'ATI:interface' %}?projectId=" + {{ project_id }};
                }
            },
        });
    });
</script>
{% endblock%}