{% extends 'base.html' %}

{% block addbody %}
<div class="wrap" id="wrap">
	<div class="logGet">
        <!-- 头部提示信息 -->
        <div class="lgT">
            <p class="p2">自动化测试平台</p>
        </div>
        <div class="logD logDtip">
            <p class="p1" id="login_t">注 册</p>
        </div>
        <!-- 输入框 -->
        <div class="lgD">
            <img src="/static/img/login_user.png" width="20" height="20" alt=""/>
            <input type="text" placeholder="输入用户名" id="username">
        </div>
        <div class="lgD">
            <img src="/static/img/login_lock.png" width="20" height="20" alt=""/>
            <input type="password" placeholder="输入密码" id="password">
        </div>
        <div class="lgD">
            <img src="/static/img/login_lock.png" width="20" height="20" alt=""/>
            <input type="password" placeholder="再次输入密码" id="password1">
        </div>
        <div class="logC">
            <a id="login_b" target="_self"><button>注 册</button></a>
        </div>
        <div class="logT">
            <a href="{% url 'user:login' %}">登录已有用户</a>
            <a href="javascript:void(0);">忘记密码</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#login_b").click(function () {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        let password1 = document.getElementById('password1').value;
        if (username === '' || password === '' || password1 === ''){
            $.Toast('用户名和密码不能为空！', 'error');
            return;
        }
        if (password !== password1){
            $.Toast('输入的密码不一致！', 'warning');
            return;
        }
        let postdata = {
            'username': username,
            'password': password,
        };
        console.log(postdata);
        $(function login_b1 () {
            $.ajax({
                type: 'post',
                url: {% url 'user:sign' %},
                data: postdata,
                datatype: 'json',
                success: function (data) {
                    if (data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                        alert('注册成功，请重新登录！');
                        window.location.href = {% url 'user:login' %};
                    }
                    else {
                        $.Toast(data['msg'], 'error')
                    }
                },
            });
        });
    });
</script>
{% endblock %}
